/*
:root {
    color-scheme: light dark;
}
*/

select {
    font-size: x-large;
    margin-bottom: 1em;
}

#charts {
    display: flex;
    flex-direction: row;
}

.c3-chart-arcs text {
    font-weight: bold;
}
