<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>hledger visuals</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/c3/c3.css') }}" rel="stylesheet">
    </head>
    <body>
        <select id="top-category"></select>
        <br>
        <label>
            Begin:
            <input id="date-begin" name="date-begin" type="date" value="{{ begin_default }}">
        </label>
        <label>
            End:
            <input id="date-end" name="date-end" type="date" value="{{ end_default }}">
        </label>
        <div id="charts">
            <div id="chart"></div>
            <div id="secondary-chart"></div>
        </div>

        <script src="{{ url_for('static', path='/c3/docs/js/d3-5.8.2.min.js') }}"></script>
        <script src="{{ url_for('static', path='/c3/c3.min.js') }}"></script>
        <script src="{{ url_for('static', path='/scripts.js') }}"></script>
    </body>
</html>
