<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>hledger visuals</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='/c3/c3.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Expenses</h1>
        <input id="whatever-1" name="whatever-1" type="date" value="{{ begin_default }}">
        <input id="whatever-2" name="whatever-2" type="date" value="{{ end_default }}">
        <div id="charts">
          <div id="chart"></div>
          <div id="secondary-chart"></div>
        </div>

        <script src="{{ url_for('static', path='/c3/docs/js/d3-5.8.2.min.js') }}"></script>
        <script src="{{ url_for('static', path='/c3/c3.min.js') }}"></script>
        <script src="{{ url_for('static', path='/scripts.js') }}"></script>
    </body>
</html>
